
*{
    font-family: 'Montserrat', cursive;
}

body{
    margin: 0;
    background-color: darkorange;
}

.container{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.calculator{

    display: grid;
    grid-template-columns: repeat(5,90px);
    grid-template-rows: 260px repeat(6,90px);
    background-color: white;
    padding: 30px;
    border-radius: 20px;

}

@media only screen and (max-width:1024px){

    .container{
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom: 5%;
        margin-right: 5%;
    }
    .calculator{
        display: grid;
        grid-template-columns: repeat(auto-fill,20%);
        grid-template-rows: 30% repeat(auto,20%);
        /* height: 100%; */
        width: 100%;
        font-size: 80%;
        padding: 2%;
        margin-top: 2%;
        margin-left: 5%;
        margin-bottom: 5%;
        margin-right: 5%;
    }

    .display{
        display: flex;
    }
    .number{
        width: auto;
        height: auto;
    }
    .operator{
        width: auto;
        height: auto;
    }
    .function{
        width: auto;
        height: auto;
    }
    .const{
        width: auto;
        height: auto;
    }
    .operatorEq{
        width: auto;
        height: auto;
    }
  
}

button{

    cursor: pointer;
    margin: 5px;
    padding: 0%;
    border-radius: 24px;
    font-size: 1.5em;
    background-color: white;
    border: none;

}

button:focus{
    outline: none;
}

button:active{
    background-color: rgb(253, 200, 165);
}

.display{
    grid-column: 1 /-1;
    padding: 30px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: whitesmoke;
    border-radius: 24px;
    text-align: right;
    justify-content: space-evenly;
    word-break: break-all;
    font-size: 2em;
    font-weight: lighter;

}

.operator{
    font-weight: lighter;
    font-size: 1.6em;
    color: darkorange;
}

.number{
    background-color: whitesmoke;
    font-weight: lighter;
}

.function{
    font-weight: lighter;
}

.const{
    color: darkorange;
    font-size: 1.8em;
    font-weight: lighter;
}

.operatorEq{
    background-color: darkorange; 
    color: white; 
    border-radius: 48px;
}